<div class="row">
    <div id="logoutSuccess" hidden="hidden">{{ logoutSuccessMessage }}</div>
    <div id="registerSuccess" hidden="hidden">{{ registerSuccessMessage }}</div>
    <div id="welcomeMessage" hidden="hidden">{{ welcomeMessage }}</div>

</div>